{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Nouveau compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_widget(registrationForm.captchaCode) }}

        {% set formErrors = registrationForm.vars.errors.form.getErrors(true) %}

        {% if formErrors|length %}
            {% for error in formErrors %}
                {{ error.message }}
            {% endfor %}
        {% endif %}

        <button type="submit" class="btn btn-lg btn-primary text-center">Valider </button>

    {{ form_end(registrationForm) }}

    <a class="nav-link" href="/login"> Connexion </a>
{% endblock %}
