{% extends 'base.html.twig' %}

{% block body %}

    <div class="form-group">
        {{ form_start(formSearch) }}
        <div class='form-row'>
            <div class="col">
           {{ form_widget(formSearch) }}
           </div>
           <div class="col">
            <button type="submit" class="btn-primary btn"> Search </button>
            </div>
        </div>
        {{ form_end(formSearch) }}
    </div>
    {% if message is not empty %}
        <div> {{ message }} </div>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col"> Titre</th>
            <th scope="col"> Description </th>
            <th scope="col"> Image</th>
            <th scope="col"> Categorie</th>
            </tr>
        </thead>
        <tbody>
            {% if recherches is not empty %}
                {% for recherche in recherches %}
                    <tr class="table-warning">
                    <th scope="row"> {{recherche.title}} </th>
                    <td> {{recherche.content | raw}}</td>
                    <td> {{recherche.category.title }}</td>
                    <td>{{recherche.image}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for film in films %}
                    <tr class="table-warning">
                    <th scope="row"> {{film.title}} </th>
                    <td>{{film.content | raw}}</td>
                    <td> {{film.category.title }}</td>
                    <td>{{film.image}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock body %}